.navbar{
	margin-bottom: 0px;
	min-height: 40px;
	padding-right: 20px;
	padding-left: 20px;
	background: #080808;
	filter: none;
	text-shadow: 1px 1px 1px #0a0c0e;
	border: none;
	color: #fff;
}

.noti_bubble{
	 background-color: red;
    border-radius: 30px;
    box-shadow: 1px 1px 1px gray;
    color: white;
    font-size: 0.8em;
    font-weight: bold;
    padding: 1px 2px;
    position: absolute;
    right: 2px;
    top: 5px;
}